@charset "UTF-8";
/* CSS Document */

.btn,
.btn:link,
.btn:visited {
	display: inline-block;
	padding: 0.75rem 1rem;
	background-color:#f2583e;
	background-image:linear-gradient(to bottom, #77bed2, #747e80);
	border-radius: 6px;
	box-shadow: 1px 1px 4px rgba (0,0,0,0.5);
	border:0;
	color:#fff;
	font-weight:bold;
}
.btn-alt,
.btn-alt:link,
.bt-alt:visited {
	background-color: #5d8432;
	background-image: linear-gradient(to bottom,#5d8432, #3b6210);
}

.button,
.button:link,
.button:visited {
	display: inline-block;
	padding: 0.75rem 1rem;
	background-color:#f2583e;
	background-image:Radial Gradient(to bottom, #f2583e,#CCC);
	border-radius: 30px;
	box-shadow: 1px 1px 4px rgba (0,0,0,0.5);
	border:0;
	color:#fff;
	font-weight:bold;
}
.button-alt,
.button-alt:link,
.button-alt:visited {
	background-color: #5d8432;
	background-image: Radial Gradientt(to bottom,#5d8432, #3b6210);
}
.but,
.but:link,
.but:visited {
	display: inline-block;
	padding: 0.75rem 1rem;
	background-color:#37575e;
	text-decoration:none;
	background-image:linear-gradient(to bottom, #37575e,#CCC);
	border-bottom-left-radius: 20px;
	box-shadow: 1px 1px 4px rgba (0,0,0,0.5);
	border:0;
	color:#fff;
	font-weight:bold;
}
.but-alt,
.but-alt:link,
.but-alt:visited {
	background-color: #5d8432;
	background-image: linear-gradient(to bottom,#5d8432, #3b6210);
}